header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    digi-typography h1 {
        margin: 0;
    }

    .sc-digi-header-navigation-h nav.digi-header-navigation__wrapper.sc-digi-header-navigation {
        border: none;

        li .sc-digi-header-navigation-item-h .sc-digi-header-navigation-item-s > a {
            background-color: var(--color--green--darker);
            border-radius: .5rem;

            &:hover {
                background-color: var(--color--green);
                color: var(--color--black);
            }
        }
    }
}