header,
footer {
  background-color: var(--color--black--darker);
}

main {
  align-self: center;
  flex: 1;
  width: 90%;
  background-color: var(--color--black);
  padding: 2rem;

  .sc-digi-layout-columns-h .digi-layout-columns.sc-digi-layout-columns {
    grid-column-gap: 2rem;
  }
}
