form {
    width: 100%;
    display: flex;
    justify-content: center;

    > * {
        max-width: 50%;
    }

    .digi-form-input__input.sc-digi-form-input:focus-visible {
        --size-outline: 2px;

        outline: var(--size-outline) solid var(--color--green--darker);
        outline-offset: calc(var(--size-outline) * -1);
        box-shadow: none;
    }
}